.container-father-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 82vh;
    padding: 0 10vh;
    position: relative;
    overflow: hidden;
    background-image: url('../../../public/back-mio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilos para el lado izquierdo */
.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -8vh;
}

.left-side .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* Estilos para el lado derecho */
.right-side {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    height: 100%;
    margin-top: 45vh;
    text-align: start;
    width: 100%;
}

.right-side .container-right {
    padding-left: 6vh;
    top: 0;
    text-align: center;
    align-items: start;
}

.right-side h1 {
    color:  white;
    font-weight: 800;
    font-size: 7vh;
    text-align: start;
    margin-bottom: 3vh;
    text-shadow: 2px 2px 4px #0033662a;
}

.right-side h2 {
    color:  white;
    text-align: start;
    text-shadow: 2px 2px 4px #0033662a;
    margin-bottom: 3.2vw;
}

.container-btn-head{
    width: 100%;
    display: flex;
    justify-content: start;
}

.right-side button {
    font-size: 2vh;
    background: #07273c;
    font-weight: 600;
    color: #fff;
    transform: translateY(-0.4vh);
    padding: 1vh 5vh;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.4s ease, box-shadow 0.4s ease, transform 0.4s ease;
    box-shadow: 0 5px 15px #00336641;
}

.right-side button:hover {
    background: #003366; /* Color de fondo más oscuro al pasar el ratón */
    box-shadow: 0 10px 20px #0033662a; /* Sombra más pronunciada */
    transform: translateY(-1vh); /* Eleva el botón al pasar el ratón */
}

.right-side button:hover {
    background-color: #1A1F36;
}

@media screen and (max-width: 1200px) {
    .container-father-header {
        width: 100%;
        justify-content: center;
    }

    .left-side .container {
        display: none;
    }

    .right-side {
        min-width: 100%;
        width: 100%;
    }
    
    .right-side .container-right {
        padding: 0;
        text-align: center;
        align-items: start;
    }

    .right-side h1 {
        font-size: 5vh;
    }
    
    .right-side h2 {
        font-size: 3vh;
    }
    
    .container-btn-head{
        margin-top: 5vh;
    }
    
    .right-side button {
        font-size: 2.2vh;
        padding: 0.8vh 4vh;
    }
}

